<!-- <div class="container">
  <div style="color: blue;">
      <h1>{{title}}</h1>
      <h3>{{description}}</h3>
  </div>
  <div class="row">
      <div class="col-sm-4">
          <app-create-customer></app-create-customer>
      </div>
      <div class="col-sm-4">
          <app-customers-list></app-customers-list>
      </div>
  </div>
</div> -->
<router-outlet></router-outlet>