<div class="login-page">
  <form action="" class="login-form">
    <div class="form-group">
      <label for="">Username</label>
      <input type="text" class="form-control">
    </div>

    <div class="form-group">
      <label for="">Password</label>
      <input type="text" class="form-control">
    </div>
    <div class="input-group">
        <button type="submit">Login</button>
        <button type="submit">Register</button>
    </div>
  </form>
</div>